.breadcrumbs {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: var(--contrast-color);
    background-color: var(--background-color);
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;

    a {
        color: var(--contrast-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}