.header-view {
    display: flex;
    flex-direction: row;
    color: var(--contrast-color);
    background-color: var(--background-color);

    .title {
        width: 100%;
        text-align: center;
        height: 100%;
        font-size: 2rem;
        padding: 1rem;
        letter-spacing: 0.25rem;
    }
}