*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --highlight-color: black;
    --foreground-color: #000000;
    --contrast-color: white;
    --background-color: black;
    --border-color: black;
    --text-color: black;
    --main-font: 'Roboto', 'Segoe UI', 'Arial', sans-serif;
    --border-radius: 0.25rem;

    --nice-green: rgb(33, 192, 86);
    --nice-orange: rgb(255, 150, 31);
    --nice-red: rgb(247, 79, 71);
    --nice-blue: rgb(66, 159, 245);
    --nice-purple: rgb(173, 66, 245);
    --nice-yellow: rgb(255, 234, 73);
    --nice-gray: rgb(150, 150, 150);
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
}

.project-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
